// Preloading module
// =================
//
// Used to generate and animate the loadding sprite

.preload {
  position: fixed;
  top: 200px;
  left: 50%;
  
  height: 20px;
  width: 20px;
  background: none;
  
  &-start { animation: preload 1s forwards; }
  
}

@keyframes preload {
  0% {
    background: $color-background;
  }
  10% {
    background: $color-main;
  }
  50% {
    transform: scale(100) rotate(180deg);
    background: $color-main;
  }
  100% {
    transform: scale(1) rotate(0deg);
    background: none;
  }
}
