#wrapper > header {
  
  text-transform: lowercase;
  
  h1 {
    font-size: 3em;
  }
  
  h1:first-letter {
    color: $color-main;
  }
  
  nav {
    text-align: right;
  }
  
  a {
    color: $color-main;
    text-decoration: none; 
    font-size: 1.5em;
  }
  
  a:hover {
    color: $color-background;
    background: $color-main;
  }
  
}